/.vs 
/simplegame/x64 
*.exe 
*.ilk 
*.pdb 
*.obj 
*.log 
*.pch 
*.idb 
*.tlog 
*.lastbuildstate 
*.suo 
*.db 

BaseProject/.vs/SimpleGame/CopilotIndices/17.14.1577.30250/CodeChunks.db-shm
BaseProject/.vs/SimpleGame/CopilotIndices/17.14.1577.30250/CodeChunks.db-wal
BaseProject/.vs/SimpleGame/CopilotIndices/17.14.1577.30250/SemanticSymbols.db-shm
BaseProject/.vs/SimpleGame/CopilotIndices/17.14.1577.30250/SemanticSymbols.db-wal
BaseProject/.vs/SimpleGame/FileContentIndex/5053a3c0-ccf5-46e5-918a-3a76410a331c.vsidx
BaseProject/.vs/SimpleGame/FileContentIndex/fa7d63b7-6508-4e50-9932-75bb6dac7178.vsidx
BaseProject/.vs/SimpleGame/FileContentIndex/5053a3c0-ccf5-46e5-918a-3a76410a331c.vsidx
BaseProject/.vs/SimpleGame/FileContentIndex/5053a3c0-ccf5-46e5-918a-3a76410a331c.vsidx
BaseProject/.vs/SimpleGame/v17/Browse.VC.db
BaseProject/.vs/SimpleGame/v17/Browse.VC.db-shm
BaseProject/.vs/SimpleGame/v17/Browse.VC.db-wal
BaseProject/.vs/SimpleGame/v17/Browse.VC.opendb
BaseProject/.vs/SimpleGame/v17/Browse.VC.db
BaseProject/.vs/SimpleGame/FileContentIndex/5053a3c0-ccf5-46e5-918a-3a76410a331c.vsidx
